.container .content-reviewer {
    background-color: #ffffff;
    width: calc(100% - 300px);
    margin-left: 300px;
    padding-top: 59px;
    transition: all 1s ease;
    padding-bottom: 2em;
}
.container .content-reviewer h1 {
    margin: 1em 2.5em;
}
.container .content-reviewer .table table {
    margin: 0 auto 2em auto;
    width: 50em;
}
.container .content-reviewer .table table th:nth-child(1) {
    width: 1em;
}
.container .content-reviewer .table table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
#displayButton {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}
#displayButton:hover {
    background-color: #45a049;
}
.container.collapse .content-reviewer {
    width: 100%;
    margin-left: 0;
}
#backBtn {
    display: none;
}
#goback {
    margin-left:6em;
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}
#goback:hover {
    background-color: #45a049;
}
.buttonstart {
    text-align: center;
}
@media (max-width: 425px){
    .container .content-reviewer{
        margin-left: 0;
    }
    .container .content-reviewer h1 {
        text-align: center;
        width: 100vw;
        margin: .5em 0;
    }
    .container .content-reviewer .table table {
        width: 414px;
    }
    .buttonstart {
        margin-left: 10em;

    }
}