.container .content-mock {
    margin-left: 300px;
    padding-top: 59px;
    padding-bottom: 3em;
    transition: all 1s ease;
}
.container .content-mock h1 {
    margin: 1em 0 1em 2.5em;
}
.container .content-mock table {
    margin: 0 auto 2em auto;
    width: 50em;
}
.container .content-mock table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1em;
}
.container .content-mock table td {
    text-align: center
}
.container .content-mock table th:nth-child(1){
    width: 1em;
}
.container.collapse .content-mock {
    margin-left: 0;
}
#start-button {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}
#start-button:hover {
    background-color: #45a049;
}
#start-button-container {
    text-align: center;
}
@media (max-width: 425px){
    .container .content-mock {
        margin-left: 0;
        padding-top: 59px;
        padding-bottom: 3em;
    }
    .container .content-mock h1 {
        margin: .5em 0;
        text-align: center;
    }
    .container .content-mock table {
        width: 414px;
    }
}