@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');
@import url('style-mock.css');
@import url('style-reviewer.css');
@import url('style-history.css');
@import url('/board exam review/reviewer/set1/reviewer1.css');
@import url('/board exam review/mockexam/mock1.css');

* {
    margin: 0;
}
body {
    height: 106vh;
    font-family: 'Roboto', sans-serif;
}
.container .nav-bar {
    position: fixed;
    width: 100%;
    background-color: #414f2b;
    color: #ffffff;
    height: 59px;
    display: flex;
}
.container .nav-bar .logo {
    display: flex;
    flex: 1;
    padding: 5px 15px;
}
.container .nav-bar .logo img {
    height: 50px;
    cursor: pointer;
    animation: spin;
    transition: all 1s ease;
}
.container .nav-bar .logo h1{
    display: inline-block;
}
.container .nav-bar .logo h1 a{
    display: block;
    color: #9f8a00;
    text-decoration: none;
    margin-top: 5px;
    cursor: pointer;
    font-size: 1em;
}
.container .nav-bar .user{
    padding-top: 10px;
    display: flex;
}
.container .nav-bar .user img {
    margin-right: 10px;
    border-radius: 30px;
    height: 40px;
    background-color: #ffffff;
}.container .nav-bar .user p {
    padding: 13px 0;
    margin-right: 20px;
}
.container .nav-menu {
    position: fixed;
    top: 59px;
    left: 0;
    height: 100vh;
    background-color: #414f2b;
    width: 250px;
    transform: translateX(0);
    transition: all 1s ease;
}
.container .nav-menu ul {
    list-style-type: none;
    padding-left: 0;
}
.container .nav-menu ul li{
    border: 2px solid #9f8a00;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 24px;
    text-align: left;
    cursor: pointer;
    color: #ffffff;
}
.container .nav-menu ul li i{
    margin-right: .5em;
}
.container .nav-menu ul li:hover{
    background-color: rgb(159,138,0, .2);
}
.container .nav-menu ul li:nth-child(4) {
    border-bottom: 2px solid #9f8a00;
}
.container .content {
    text-align: center;
    padding-top: 250px;
    width: calc(100% -300px);
    margin-left: 250px;
    transition: all 1s ease;
}
.container.collapse .nav-menu{
    transform: translateX(-250px);
}
.container.collapse .nav-bar .logo img {
    transform: rotate(90deg)
}
.container.collapse .content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}


@media (max-width: 425px){
    .container .nav-menu{
        transform: translateX(-250px);
    }
    .container.collapse .nav-menu{
        width: 250px;
        transform: translateX(0);
    }
    .container.collapse .content {
        text-align: center;
        padding-top: 250px;
        margin-left: 0;
        transition: all 1s ease;
    }
    .container .content {
        text-align: center;
        padding-top: 250px;
        width: 100%;
        margin-left: 0;
        transition: all 1s ease;
    }
    .container .nav-bar .logo img {
        display: none;
    }
    .container .nav-bar .logo h1 {
        display: none;
        font-size: 1.5em;
        margin-top: 10px;
    }
    .container .nav-bar .logo .hammenu{
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 3em;
        margin-top: .5em;
    }
    .container .nav-bar .logo .hammenu .burger-top {
        margin: 1px;
        width: 3em;
        height: 6px;
        border-radius: 5px;
        background-color: #9f8a00;
        transition: all ease 1s;
    }
    .container .nav-bar .logo .hammenu .burger-mid {
        margin: 1px;
        width: 3em;
        height: 6px;
        border-radius: 5px;
        background-color: #9f8a00;
        transition: all ease-out 1s;
    }
    .container .nav-bar .logo .hammenu .burger-bottom {
        margin: 1px;
        width: 3em;
        height: 6px;
        border-radius: 5px;
        background-color: #9f8a00;
        transition: all ease 1s;
    }
    .container.collapse .nav-bar .logo .hammenu{
        position: relative;
    }
    .container.collapse .nav-bar .logo .hammenu .burger-top{
        transform: rotate(40deg);
        position: absolute;
        top: 12px;
    }
    .container.collapse .nav-bar .logo .hammenu .burger-mid{
        opacity: .0;
        transform: rotate(180deg);

    }
    .container.collapse .nav-bar .logo .hammenu .burger-bottom{
        transform: rotate(140deg);
        position: absolute;
        top: 12px;
    }
    
}